@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*================
  General
==================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #af67e9), to(#6565e7));
  background: linear-gradient(#af67e9 50%, #6565e7);
  background-repeat: no-repeat;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #1d1e35;
}

h4 {
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  color: #787887;
  font-size: 1.1rem;
}

h4:hover {
  color: #4a4b5e;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #e7e7e9;
}

.arrow {
  position: absolute;
  right: 5%;
}

p {
  display: none;
  color: #787887;
  line-height: 2;
}

/*================
  Grid Container
==================*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 0.25fr 1fr 0.25fr;
      grid-template-rows: 0.25fr 1fr 0.25fr;
}

.grid-col-1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.grid-col-3 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

/*================
  Main Container
==================*/
.main-container {
  -ms-grid-row: 2;
      grid-row-start: 2;
  background-color: white;
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

/*================
  Info Container
==================*/
.info-container {
  padding: 60px;
}

/*================
  Image Container
==================*/
.image-wrapper {
  position: relative;
  background: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: right 50px top 65%;
  padding: 0;
}

.main-image {
  width: 80%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  z-index: 1;
  display: none;
}

.shadow {
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
  width: 80%;
  z-index: 0;
  display: none;
}

.box-image {
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-transform: translate(-40%);
          transform: translate(-40%);
  -webkit-animation: box-move 5s ease-in-out;
          animation: box-move 5s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*==================
  Attribution
  ==================*/
.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 1024px) {
  /*================
  General
==================*/
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  h4 {
    font-size: 1.3rem;
  }
  .arrow {
    right: 0%;
  }
  p {
    display: none;
  }
  /*================
  Grid Container
==================*/
  .grid-container {
    -ms-grid-columns: 0.25fr 4fr 0.25fr;
        grid-template-columns: 0.25fr 4fr 0.25fr;
  }
  /*================
  Main Container
==================*/
  .main-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr  1fr;
        grid-template-rows: 0.5fr  1fr;
  }
  /*================
  Info Container
==================*/
  .info-container {
    padding: 30px;
  }
  /*================
  Image Container
==================*/
  .image-wrapper {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-image {
    width: 80%;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    z-index: 1;
    display: block;
  }
  .shadow {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    width: 80%;
    z-index: 0;
    display: block;
  }
  .box-image {
    top: 45%;
    left: 0%;
    -webkit-transform: translate(5%, -100%) scale(0.7);
            transform: translate(5%, -100%) scale(0.7);
    -webkit-animation: box-move-small 5s ease-in-out;
            animation: box-move-small 5s ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    z-index: 2;
  }
  /*==================
  Attribution
  ==================*/
  .attribution {
    position: relative;
  }
}

/*==================
  Key Frames
  ==================*/
@-webkit-keyframes box-move {
  0% {
    -webkit-transform: translate(-40%);
            transform: translate(-40%);
  }
  100% {
    -webkit-transform: translate(-55%);
            transform: translate(-55%);
  }
}
@keyframes box-move {
  0% {
    -webkit-transform: translate(-40%);
            transform: translate(-40%);
  }
  100% {
    -webkit-transform: translate(-55%);
            transform: translate(-55%);
  }
}

@-webkit-keyframes box-move-small {
  0% {
    -webkit-transform: translate(0%, -100%) scale(0.7);
            transform: translate(0%, -100%) scale(0.7);
  }
  100% {
    -webkit-transform: translate(-10%, -100%) scale(0.7);
            transform: translate(-10%, -100%) scale(0.7);
  }
}

@keyframes box-move-small {
  0% {
    -webkit-transform: translate(0%, -100%) scale(0.7);
            transform: translate(0%, -100%) scale(0.7);
  }
  100% {
    -webkit-transform: translate(-10%, -100%) scale(0.7);
            transform: translate(-10%, -100%) scale(0.7);
  }
}
/*# sourceMappingURL=style.css.map */