@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*================
  General
==================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #af67e9), to(#6565e7));
  background: linear-gradient(#af67e9 50%, #6565e7);
  background-repeat: no-repeat;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
}

h1 {
  color: #1d1e35;
}

hr {
  border: 0;
  border-top: 1px solid #e7e7e9;
}

/*================
  Main Container
==================*/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: white;
  width: 70vw;
  min-height: 65vh;
  border-radius: 20px;
}

/*================
  Image Container
==================*/
.image-container {
  background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
  background-position: right 60%;
  background-repeat: no-repeat;
  height: auto;
  width: 55%;
  overflow: hidden;
}

.box-image {
  position: absolute;
  top: 46%;
  right: 91%;
}

/*================
  Info Container
==================*/
.info-container {
  width: 75%;
  padding: 40px 80px;
}

.info-container img {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.info-container .drop-down {
  position: relative;
  margin: 20px 0;
}

h4 {
  cursor: pointer;
  color: #787887;
}

h4:hover {
  color: #f47c57;
}

h4 span {
  position: absolute;
  right: 2%;
}

p {
  display: none;
  margin-top: 20px;
  color: #787887;
  line-height: 1.5;
}

/*================
  Attribution
==================*/
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: #3e52a3;
}

/*================
  JavaScript
==================*/
.rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.change-color {
  color: #1d1e35;
}

.show {
  display: block;
}

@media only screen and (max-width: 1024px) {
  /*================
  Main Container
==================*/
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    width: 70vw;
    min-height: 85vh;
    border-radius: 20px;
  }
  /*================
  Image Container
==================*/
  .image-container {
    position: relative;
    background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom 100%;
    height: 50vh;
    width: 100%;
    overflow: visible;
  }
  .box-image {
    position: absolute;
    top: 44%;
    right: 78%;
  }
  /*================
  Info Container
==================*/
  .info-container {
    height: auto;
    width: 100%;
    padding: 40px 80px;
  }
  .info-container img {
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .info-container .drop-down {
    position: relative;
    margin: 20px 0;
  }
  .info-container .drop-down h4 {
    cursor: pointer;
    color: #787887;
  }
  .info-container .drop-down h4:hover {
    color: #f47c57;
  }
  .info-container .drop-down h4 span {
    position: absolute;
    right: 2%;
  }
  .info-container .drop-down p {
    margin-top: 20px;
    color: #787887;
    line-height: 1.5;
  }
}
/*# sourceMappingURL=style.css.map */